body {
  font-family: 'Arial'
}
h1 {
  font-family: 'Courier New', monospace; 
  text-transform: lowercase;
}
h2 {
  font-family: 'Courier New', monospace; 
  text-transform: lowercase;
}
mark {
  background: blue!important; 
  color:white;
}
