body {
  font-family: 'Arial';
  background-color: #F7F0DF; <!-- https://www.color-name.com/ivory-paper.color -->
  padding: 20px;
}

h1 {
  font-family: 'Courier New', monospace; 
  text-transform: lowercase;
}
h2 {
  font-family: 'Courier New', monospace; 
  text-transform: lowercase;
}
mark {
  background: RGBA(0, 0, 255, 0.5) !important; 
  color:white;
}
